.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.jumbo {
  background: #BD3039 !important;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom-color: #0C2340;
  border-width: 10px;
  padding-left: 100px !important;
}

.list {
  text-align: left;
  padding: 50px;

}

.topBox {
  padding-top: 40px
}

.mainHeading {
  text-align: left;
  color: white;
}

.subHeading {
  text-align: left;
  color: white;
  font-size: 30px !important;
  padding-left: 50px;
}

.subMinHeading {
  font-size: 15px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
